---
import BaseLayout from "@/layouts/BaseLayout.astro"
import AstroSearch from "astro-pagefind/components/Search"

---

<BaseLayout>
  <link href="/pagefind/pagefind-ui.css" rel="stylesheet" />
  <script is:inline src="/pagefind/pagefind-ui.js"></script>

  <main>
    <!-- <div id="search"></div> -->
     <AstroSearch className="pagefind-ui" />
  </main>
</BaseLayout>

<!-- https://pagefind.app/docs/ui-usage/ -->
<style is:global>
  .pagefind-ui {
    --pagefind-ui-scale: 1;
    --pagefind-ui-primary: var(--colors-primary);
    --pagefind-ui-text: var(--colors-text);
    --pagefind-ui-background: var(--colors-bg);
    --pagefind-ui-border: var(--colors-primary);
    --pagefind-ui-tag: var(--colors-text);
    --pagefind-ui-border-width: 1px;
    --pagefind-ui-border-radius: 0.25rem;
    --pagefind-ui-font: var(--fonts-base);
  }
</style>
