---
import urls from "@/config/urls"
import { Icon } from "astro-icon/components"
import { css } from "styled-system/css"
import { flex } from "styled-system/patterns"

const root = css({
  padding: 4,
})

const root__line1 = flex({
  alignItems: "center",
  flexWrap: "wrap",
  gap: 4,

  "& p": { m: 0 },
  
  "& a": {
    display: "flex",
    alignItems: "center",
    gap: 2,
  },
})
---
<footer class={root}>
  <div class={root__line1}>
    <p>&copy;2025 by msisdev All rights reserved.</p>
    <a href={urls.github} aria-label="Github repository">
      <Icon name="iconoir:settings-profiles" /> Get this theme
    </a>
  </div>
</footer>
