---
import type { MarkdownHeading } from 'astro'
import { css } from 'styled-system/css'

interface Props {
  headings: MarkdownHeading[]
  readingTime?: number
}

const { headings, readingTime } = Astro.props

const root = css({
  bg: "bg.950",
  border: "primary",
  borderRadius: "box",
  p: 4,
})

---

<section class={root}>
  <p><strong>Overview</strong></p>
  <ul>
    {
      headings
        .filter(v => v.text.trim().length > 0)
        .map(v => (
          <li>
            - <a href={"#" + v.slug}>{v.text}</a>
          </li>
        ))
    }
  </ul>
  <p>{readingTime}m to read</p>
</section>
