---
import paths from "@/config/paths"
---

<header>
  <nav>
    <ul>
      <li><a href={paths.home}><strong>기반</strong></a></li>
    </ul>
    <ul>
      <li><a href={paths.search}>Search</a></li>
      <li><a href={paths.blog}>Blog</a></li>
      <li><a href={paths.projects}>Projects</a></li>
    </ul>
  </nav>
</header>
