---
import { getDateString } from '@/lib/get-date-string'

interface Props {
  href: string
  title: string
  description?: string
  date: Date
}

const { href, title, description, date } = Astro.props

---
<p>
  <a {href}>{title}</a>
  <span>&nbsp;/ {getDateString(date)}</span>
  
</p>
